<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/subida.css" type="text/css">

	
	<title></title>
</head>
<body>
	<div><h1 align="center">Sube tu documento en formato ".txt" para poder continuar</h1></div>
	<div class="caja redondea">
			<form action="/upload" method="POST" enctype="multipart/form-data">
			 <br></br>
			 <CENTER><input class="caja2 redondea2" type="file" name="archivo">
			
			<br></br>
           <input type="submit" value="Enviar"></CENTER>
          	</form>
    </div>
<div>
   	<footer id="main-footer">
<table style="width: 100%">
	<tr>
		<th><img src="/static/logo.PNG" width="80" height="60"></th>
		<th>&copy;Centro Nacional de Investigación y Desarrollo Tecnológico</th>
		<th>Grupo de Procesamiento del Lenguaje Natural</th>
		<th>Redes sociales</th>
	</tr>
</table>
		
	</footer> <!-- / #main-footer -->
</div>
</body>
</html>
        
    
